doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bower_components/fullcalendar/fullcalendar.css')
	body
		#calendar

		script(type='text/javascript', src='/bower_components/jquery/jquery.js')
		script(type='text/javascript', src='/bower_components/fullcalendar/fullcalendar.js')
		script.
			var events =  [
				{
					title: 'event3',
					start: '2014-03-03 12:30:00',
					end: '2014-03-03 16:30:00',
					allDay: false // will make the time show
				}
			];
			$('#calendar').fullCalendar({
				events: events
			});