doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bower_components/fullcalendar/fullcalendar.css')
	body
		#calendar

		script(type='text/javascript', src='/bower_components/jquery/jquery.js')
		script(type='text/javascript', src='/bower_components/jquery-ui/ui/jquery-ui.js')
		script(type='text/javascript', src='/bower_components/fullcalendar/fullcalendar.js')
		script.
			var events =  !{JSON.stringify(data)}
			$('#calendar').fullCalendar({
				events: events,
				editable: true,
				eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {

					// TODO Replace alert with server call to update calendar event
					alert(
						event.title + " was moved " +
						dayDelta + " days and " +
						minuteDelta + " minutes."
					);
				},

				defaultView: 'agendaWeek'
			});